@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* body {
  font-family: 'Roboto', sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");

#fontChange {
  font-family: "Kablammo", cursive;
}

@font-face {
  font-family: "MyFont";
  src: url("../public/font/Kablammo-Regular.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/font/Montserrat.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "Popppins";
  src: url("../public/font/Popppins.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "roboto";
  src: url("../public/font/roboto.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

#fontChange {
  font-family: "MyFont", sans-serif;
}

#fontChange {
  font-family: "Montserrat", sans-serif;
}

#fontChange {
  font-family: "roboto", sans-serif;
}

#fontChange {
  font-family: "Popppins", sans-serif;
}

#fontChange {
  font-family: "Inter", sans-serif;
}

.film-left {
  background-image: url(../public/image/left.png);
  background-size: cover;
}

.film-right {
  background-image: url(../public/image/right.png);
  background-size: cover;
}

.airplane {
  background-image: url(../public/image/AIRPLANE.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSecondDiv {
  background-image: url(../public/image/mainSecondDiv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainThirdDiv {
  background-image: url(../public/image/mainThirdDiv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
