@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* body {
  font-family: 'Roboto', sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");

#fontChange {
  font-family: "Kablammo", cursive;
}

@font-face {
  font-family: "MyFont";
  src: url("../public/font/Kablammo-Regular.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "Inter";
  src: url("../public/font/Inter.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/font/Montserrat.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "Popppins";
  src: url("../public/font/Popppins.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "roboto";
  src: url("../public/font/roboto.ttf") format("truetype");
  /* 다른 폰트 형식을 사용할 경우 format을 조정합니다. */
}

@font-face {
  font-family: "enbernf";
  src: url(../public/font/enbernf-parkgylove.ttf);
}

#fontChange {
  font-family: "MyFont", sans-serif;
}

#fontChange {
  font-family: "Montserrat", sans-serif;
}

#fontChange {
  font-family: "roboto", sans-serif;
}

#fontChange {
  font-family: "Popppins", sans-serif;
}

#fontChange {
  font-family: "Inter", sans-serif;
}

.film-left {
  background-image: url(../public/image/left.png);
  background-size: cover;
}

.film-right {
  background-image: url(../public/image/right.png);
  background-size: cover;
}

.airplane {
  background-image: url(../public/image/AIRPLANE.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainSecondDiv {
  background-image: url(../public/image/mainSecondDiv2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mainThirdDiv {
  background-image: url(../public/image/mainThirdDiv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Modal Effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  animation: fadeIn 0.7s;
}

.modal.hidden {
  animation: fadeOut 0.7s;
}

.myPageBackground {
  background-image: url(../public/image/myPage/background2.png);
  color: #f3f2dc;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
}

.modalLetter {
  background-image: url(../public/image/myPage/modal_letter.png);
  color: #aa9785;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "enbernf";
}

.container {
  background: linear-gradient(90deg, #e0b8ab, #e4b5c7, #96bcca, #a0cac0);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* 굴므효과 */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

.body {
  background-image: url("../public/image/mint/background.png");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
